# This is an example configuration file for the Spello Consulting utility library

# Just an example section to show how to set up a section
AmberAPI:
  APIKey: This is not the real API key
  BaseUrl: https://api.amber.com.au/v1
  Timeout: 15

# Settings for oen or more Shelly smart switches. See documentation for more details.
ShellyDevices:
  AllowDebugLogging: True
  ResponseTimeout: 5
  RetryCount: 1
  RetryDelay: 2
  PingAllowed: True
  SimulationFileFolder: simulation_files
  # Enable or disable the webhook listener
  WebhooksEnabled: True
  # IP to listen for webhooks on. This should be the IP address of the machine running the app. Defaults to 0.0.0.0
  WebhookHost: 192.168.86.32
  # Port to listen for webhooks on. Defaults to 8787.
  WebhookPort: 8787
  # The URI path that webhooks will post to.
  WebhookPath: /shelly/webhook  
  # The webhooks to install by default
  DefaultWebhooks:
    Inputs:
      - input.toggle_on
      - input.toggle_off
      - input.button_push
    Outputs:
      - switch.on
      - switch.off
  Devices:
    - Name: Downstairs Lights
      Model: Shelly2PMG3
      Hostname: 192.168.1.23
      ID: 100
      Inputs:
        - ID: 101
          Name: "Living Room Switch"
          Webhooks: True
        - ID: 102
          Name: "Kitchen Switch"
          Webhooks: True
      Outputs:
        - ID: 111
          Name: "Living Room Relay"
        - ID: 112
          Name: "Kitchen Relay"
      TempProbes:
        - Name: "Outside Temp"
        - Name: "Inside Temp"
    - Name: Outside Lights
      Model: Shelly2PMG3
      Hostname: 192.168.1.25
      ID: 200
      Inputs:
        - ID: 201
          Name: "Patio Switch"
        - ID: 202
          Name: "Car Port Switch"
      Outputs:
        - ID: 211
          Name: "Patio Relay"
        - ID: 212
          Name: "Car Port Relay"
    - Name: Testing
      Model: ShellyPlus1PM
      Simulate: True
      Outputs:
        - Name: "Test Switch"
      Meters:
        - Name: "Test Meter"


Files:
  # Name of the log file. Set to blak of None to disable logging
  LogfileName: logfile.log
  # How many lines of log file to keep. Set to 0 to disable log file truncation. Defaults to 10,000 if not specified 
  LogfileMaxLines: 500
  # How much information do we write to the log file. One of: none; error; warning; summary; detailed; debug, all. Defaults to detailed if not specified.
  LogfileVerbosity: all
  # How much information do we write to the console. One of: error; warning; summary; detailed; debug, all. Defaults to summary if not specified.
  ConsoleVerbosity: detailed

# Enter your settings here if you want to be emailed when there's a critical error 
Email:
  EnableEmail: True
  SendEmailsTo: 
  SMTPServer: smtp.gmail.com
  SMTPPort: 587
  SMTPUsername: 
  SMTPPassword: 
  SubjectPrefix: 
